@import url('https://fonts.googleapis.com/css?family=Prata');
@import url('https://fonts.googleapis.com/css?family=Bungee+Shade');

$repred: #E51B23;
$demblue: #34AAE0;

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: #F7F7F7;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

button {
  border-radius: 0px;
  border: none;
  &:focus {
    outline: none;
  }
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  .header-text {
    margin-left: 5px;
    text-align: center;
    color: white;
    padding: 15px;
    font-size: 36px;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
  }
  a {
    color: white;
    font-weight: 300;
    position: absolute;
    right: 20px;
  }
}

ul {
  padding: 0;
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

.article-board {
  width: 85%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.article-box-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;

  .article-side {
    display: flex;
    justify-content: space-between;
    background-color: #95F1FF;
    transition: background-color 100ms linear;
    width: 100%;
    border-radius: 15px;
    padding: 20px 20px;
    &:hover {
      background-color: lighten(#95F1FF, 5%);
    }
  }
}

.article-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
  margin: 20px 0px;

  .article-side {
    display: flex;
    justify-content: space-between;
    background-color: #FF6765;
    transition: background-color 100ms linear;
    width: 100%;
    border-radius: 15px;
    padding: 20px 20px;
    &:hover {
      background-color: lighten(#FF6765, 5%);
    }
  }
}

.source-side {
  margin: 0px 15px;
  .source-logo-frame {
    background-color: white;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    border: black solid 2px;
    overflow: hidden;
    .source-logo {
      display: block;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.article-side {
  display: flex;
  align-items: center;
  .article-img-frame {
    display: center;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    .article-img {
      max-width: 350px;
      border-radius: 5px;
      width: auto;
    }
  }
  .article-detail {
    margin-left: 10px;
    .article-title {
      font-size: 26px;
      margin: 10px 0px;
    }
    .article-author {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .article-date {
      font-size: 13px;
      margin-bottom: 5px;
    }
    .article-body {
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.logo-image {
  width: 55px;
  height: 55px;
}
